.chat-section {
  flex-grow: 1;
  height: 100%;
  position: relative;
  overflow: hidden;

  .messages {
    overflow: auto;
    height: 76%;
  }

  .input {
    position: absolute;
    bottom: 0;
    width: 95%;
    height: 50px;
    margin-left: 2.5%;
    border-radius: 30px;
    margin-top: -3.4%;
    z-index: 1000;

    .extras {
      margin: 10px;
      padding: 8px 12px;
      font-size: 14pt;
    }

    * {
      outline: none;
      border: none;
    }

    form {
      width: 100%;
      input {
        flex-grow: 1;
        padding: 10px;
      }

      button {
        transform: translate(-25px, 3px);
        background-color: transparent;
        width: 15px;
      }
    }
  }

  @media (max-width: 500px) {
    display: none;
  }
}
